body,
html {
  background: rgb(192, 69, 174);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: rgb(244, 237, 237);
}

.App {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
